.about-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
    color: rgb(223, 223, 223);
}

.about-img {
    border-radius: 50px;
    background: #0298d7;
    box-shadow: 10px 10px 60px #0281b7,
        0px -5px 60px #02aff7;
}